WebKeySet.swift incorrectly enforces mandatory fields that are optional in RFC 7517

The implementation in [WebKeySet.swift](https://github.com/eu-digital-identity-wallet/eudi-lib-ios-siop-openid4vp-swift/blob/main/Sources/Entities/WebKey/WebKeySet.swift) incorrectly assumes that certain fields in the JWK (JSON Web Key) are mandatory.

According to [RFC 7517, Section 4](https://datatracker.ietf.org/doc/html/rfc7517#section-4), fields such as "use", "key_ops", "alg", "kid", and "x5c" are optional. However, in the current Swift data model, they may be treated as required, which can lead to decoding failures for valid JWKs that omit these fields.

Expected behavior:
Optional fields defined in the RFC should be represented as optional properties in the Swift data structures to allow correct decoding of all valid JWKs.